body,html {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
    color: #757575;
}

img {
    max-width: 100%;
}

a:link,a:visited {
    outline: 0;
}

a:active,a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Oxygen,sans-serif;
    font-weight: 700;
}

.home {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home header {
    color: #fff;
    padding-top: 20%;
}

.home header h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1em;
    text-transform: uppercase;
}

.home header p {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px;
    letter-spacing: .1em;
    line-height: 3em;
    text-transform: uppercase;
}

.btn.btn-default {
    margin: 40px auto 0;
    background: 0 0;
    position: relative;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 12px 26px;
    cursor: pointer;
    border: 2px solid #4cddf3;
    border-radius: 0;
    letter-spacing: 2px;
    pointer-events: auto;
    border-color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.btn.btn-default:active,.btn.btn-default:hover {
    background: #fff;
    border-color: #fff;
    color: fff;
}

.social-icons .btn {
    margin-right: 15px;
}

.social-icons {
    padding-top: 10px;
    margin-bottom: 35px;
}

.social-icons .btn.btn-clear {
    border: 1px solid #fff;
}

.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}

.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}

.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: 0 0;
    background-color: none;
    font-weight: 700;
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn.btn-clear.selected,.btn.btn-clear:hover {
    background: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.btn-github:hover {
    color: #000000;
}

.btn-twitter:hover {
    color: #2BA9E0;
}

.btn-linkedin:hover {
    color: #015786;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

@media (max-width:479px) {
    .home header h1 {
        font-size: 2em;
    }

    .home header p {
        font-size: 1em;
        line-height: 3em;
    }
}